# coding: utf-8

"""
    Floor Memory

    The set APIs are used to develop Floor pds which can be used as their personal assistants. This set of APIs are divided into two parts.
    - Memory and
    - Registration. The developer has two ways of using the APIs for the app development. Developer can choose to the Registration APIs for using the existing xfloor infracture or can implement custom Registration process. In the case of custom registration process, the developer is bound to provide proper authentication mechanisms and then send the user information to xlfoor.

    The version of the OpenAPI document: 1.0.0
    Contact: contact@ipomo.in
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

import warnings
from pydantic import validate_call, Field, StrictFloat, StrictStr, StrictInt
from typing import Any, Dict, List, Optional, Tuple, Union
from typing_extensions import Annotated

from pydantic import Field, StrictBytes, StrictStr
from typing import Optional, Tuple, Union
from typing_extensions import Annotated
from xfloor_memory_sdk.models.event_response import EventResponse

from xfloor_memory_sdk.api_client import ApiClient, RequestSerialized
from xfloor_memory_sdk.api_response import ApiResponse
from xfloor_memory_sdk.rest import RESTResponseType


class EventApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @validate_call
    def event(
        self,
        input_info: Annotated[StrictStr, Field(description="Input parameters, bid is optional")],
        files: Annotated[Optional[Union[StrictBytes, StrictStr, Tuple[StrictStr, StrictBytes]]], Field(description="Attach relevant media here, which includes, jpg, mp3, pdf, mp4 files. More than one media can be selected")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> EventResponse:
        """Create Event (Post Content)

        Posts into the given floor_id. This is asynchronous ingestion. 200 OK means queued, not immediately retrievable. This API allows a user to **post personal content into their POD (Personal Object Database)**. The posted content is stored under a specified **floor**, embedded by the platform, and made available for **semantic querying, conversational retrieval, and memory-based interactions**. It is primarily used to:
        * Save reminders, notes, writeups, or personal knowledge
        * Upload content that the user wants the system to remember * Add information that should later be discoverable via conversational queries The content may consist of **text only** or **text combined with one or more media files**.
        
        ---
        
        ### **Key Capabilities**
        * Stores user-generated content inside a specific floor
        * Supports **multi-modal inputs** (text + media) * Automatically embeds content for semantic search * Makes content available to:
        * `/agent/memory/query`
        * conversational agents
        * future recall and analytics
        * Associates content with user, block, and application context
        
        ---
        
        ### **Authentication**
        * Requires a valid, authenticated `user_id`
        * The calling application is responsible for user authentication * `app_id` identifies the application context
        
        ---
        
        ### **Request Type**
        
         **Content-Type:** `multipart/form-data`
        
        ---
        
        ### **Request Parameters**
        
        ### **1. Files (Optional)**
        
        | Field | Type | Required | Description |
        | ------- | ------ | -------- | --------------------------------------------------------------------- |
        | `files` | file[] | Optional | Media files to attach to the content. Multiple files may be uploaded. |
        
        **Supported formats include (but are not limited to):**
        * Images: `jpg`, `png`
        * Audio: `mp3` * Documents: `pdf` * Video: `mp4` These files are processed and embedded along with the textual content where applicable.
        
        ---
        
        ### **2. Input Information (Required)**
        
        | Field | Type | Required | Description |
        | ------------ | ------------- | -------- | ----------------------------------------------------------------- |
        | `input_info` | string (JSON) | Yes | JSON string containing metadata and textual content for the post. |
        
        ---
        
        ### **`input_info` Structure**
        
        ```json { \"floor_id\": \"my_floor\", \"BID\": \"17845683456\", \"user_id\": \"145623907625\", \"title\": \"My floor\", \"description\": \"My floor details\", \"app_id\": \"165434879028\" }
        
        ```
        
        ---
        
        ### **Field Descriptions**
        
        | Field | Type | Required | Description |
        | ------------- | ------ | -------- | ---------------------------------------------------------------------------------- |
        | `floor_id` | string | Yes | Identifier of the user’s floor (POD) where the content will be stored. |
        | `block_type` | string | Yes | Type of block under which the content is categorized (e.g., post, note, reminder). |
        | `BID` | string | Yes | Block identifier associated with this content. |
        | `user_id` | string | Yes | Unique identifier of the user posting the content. |
        | `title` | string | Optional | Title or short heading for the content. |
        | `description` | string | Yes | Main textual content to be stored and embedded. |
        | `app_id` | string | Optional | Identifier of the calling application. |
        
        ---
        
        ### **Behavior**
        1. The API validates the user and floor context.
        2. Textual content (`title` and `description`) is ingested. 3. Attached media files are processed and linked to the content. 4. Embeddings are generated for:
        * Text
        * Supported media (where applicable) 5. The content becomes part of the user’s **personal memory store**. 6. The stored data is immediately available for querying and conversational retrieval.
        
        ---
        
        ### **Successful Response**
        
        On success, the API confirms that:
        * The content has been stored
        * Embeddings have been generated * The memory item is available for future queries A success status and reference identifiers are returned.
        
        ---
        
        ### **Error Handling**
        
         The API may return errors if:
        * Required fields are missing (`floor_id`, `user_id`, `description`)
        * Unsupported file formats are uploaded * The user does not have access to the specified floor * The request payload is malformed * Internal embedding or storage operations fail
        
        ---
        
        ### **Typical Use Cases**
        * Saving personal reminders
        * Posting notes or observations * Uploading documents for future reference * Creating a personal knowledge base * Feeding data into conversational agents
        
        ---
        
        ### **One-Line Summary**
        
        > Stores user-generated text and media into a personal POD, embeds it for semantic search, and makes it available for conversational querying. ⚠️ Content Ingestion is Asynchronous The Create Event API queues content for processing. A successful response indicates **acceptance**, not availability. Newly ingested content may take time to become searchable via the Query API.

        :param input_info: Input parameters, bid is optional (required)
        :type input_info: str
        :param files: Attach relevant media here, which includes, jpg, mp3, pdf, mp4 files. More than one media can be selected
        :type files: bytearray
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._event_serialize(
            input_info=input_info,
            files=files,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "EventResponse",
            '400': "Event400Response",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        ).data


    @validate_call
    def event_with_http_info(
        self,
        input_info: Annotated[StrictStr, Field(description="Input parameters, bid is optional")],
        files: Annotated[Optional[Union[StrictBytes, StrictStr, Tuple[StrictStr, StrictBytes]]], Field(description="Attach relevant media here, which includes, jpg, mp3, pdf, mp4 files. More than one media can be selected")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> ApiResponse[EventResponse]:
        """Create Event (Post Content)

        Posts into the given floor_id. This is asynchronous ingestion. 200 OK means queued, not immediately retrievable. This API allows a user to **post personal content into their POD (Personal Object Database)**. The posted content is stored under a specified **floor**, embedded by the platform, and made available for **semantic querying, conversational retrieval, and memory-based interactions**. It is primarily used to:
        * Save reminders, notes, writeups, or personal knowledge
        * Upload content that the user wants the system to remember * Add information that should later be discoverable via conversational queries The content may consist of **text only** or **text combined with one or more media files**.
        
        ---
        
        ### **Key Capabilities**
        * Stores user-generated content inside a specific floor
        * Supports **multi-modal inputs** (text + media) * Automatically embeds content for semantic search * Makes content available to:
        * `/agent/memory/query`
        * conversational agents
        * future recall and analytics
        * Associates content with user, block, and application context
        
        ---
        
        ### **Authentication**
        * Requires a valid, authenticated `user_id`
        * The calling application is responsible for user authentication * `app_id` identifies the application context
        
        ---
        
        ### **Request Type**
        
         **Content-Type:** `multipart/form-data`
        
        ---
        
        ### **Request Parameters**
        
        ### **1. Files (Optional)**
        
        | Field | Type | Required | Description |
        | ------- | ------ | -------- | --------------------------------------------------------------------- |
        | `files` | file[] | Optional | Media files to attach to the content. Multiple files may be uploaded. |
        
        **Supported formats include (but are not limited to):**
        * Images: `jpg`, `png`
        * Audio: `mp3` * Documents: `pdf` * Video: `mp4` These files are processed and embedded along with the textual content where applicable.
        
        ---
        
        ### **2. Input Information (Required)**
        
        | Field | Type | Required | Description |
        | ------------ | ------------- | -------- | ----------------------------------------------------------------- |
        | `input_info` | string (JSON) | Yes | JSON string containing metadata and textual content for the post. |
        
        ---
        
        ### **`input_info` Structure**
        
        ```json { \"floor_id\": \"my_floor\", \"BID\": \"17845683456\", \"user_id\": \"145623907625\", \"title\": \"My floor\", \"description\": \"My floor details\", \"app_id\": \"165434879028\" }
        
        ```
        
        ---
        
        ### **Field Descriptions**
        
        | Field | Type | Required | Description |
        | ------------- | ------ | -------- | ---------------------------------------------------------------------------------- |
        | `floor_id` | string | Yes | Identifier of the user’s floor (POD) where the content will be stored. |
        | `block_type` | string | Yes | Type of block under which the content is categorized (e.g., post, note, reminder). |
        | `BID` | string | Yes | Block identifier associated with this content. |
        | `user_id` | string | Yes | Unique identifier of the user posting the content. |
        | `title` | string | Optional | Title or short heading for the content. |
        | `description` | string | Yes | Main textual content to be stored and embedded. |
        | `app_id` | string | Optional | Identifier of the calling application. |
        
        ---
        
        ### **Behavior**
        1. The API validates the user and floor context.
        2. Textual content (`title` and `description`) is ingested. 3. Attached media files are processed and linked to the content. 4. Embeddings are generated for:
        * Text
        * Supported media (where applicable) 5. The content becomes part of the user’s **personal memory store**. 6. The stored data is immediately available for querying and conversational retrieval.
        
        ---
        
        ### **Successful Response**
        
        On success, the API confirms that:
        * The content has been stored
        * Embeddings have been generated * The memory item is available for future queries A success status and reference identifiers are returned.
        
        ---
        
        ### **Error Handling**
        
         The API may return errors if:
        * Required fields are missing (`floor_id`, `user_id`, `description`)
        * Unsupported file formats are uploaded * The user does not have access to the specified floor * The request payload is malformed * Internal embedding or storage operations fail
        
        ---
        
        ### **Typical Use Cases**
        * Saving personal reminders
        * Posting notes or observations * Uploading documents for future reference * Creating a personal knowledge base * Feeding data into conversational agents
        
        ---
        
        ### **One-Line Summary**
        
        > Stores user-generated text and media into a personal POD, embeds it for semantic search, and makes it available for conversational querying. ⚠️ Content Ingestion is Asynchronous The Create Event API queues content for processing. A successful response indicates **acceptance**, not availability. Newly ingested content may take time to become searchable via the Query API.

        :param input_info: Input parameters, bid is optional (required)
        :type input_info: str
        :param files: Attach relevant media here, which includes, jpg, mp3, pdf, mp4 files. More than one media can be selected
        :type files: bytearray
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._event_serialize(
            input_info=input_info,
            files=files,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "EventResponse",
            '400': "Event400Response",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        response_data.read()
        return self.api_client.response_deserialize(
            response_data=response_data,
            response_types_map=_response_types_map,
        )


    @validate_call
    def event_without_preload_content(
        self,
        input_info: Annotated[StrictStr, Field(description="Input parameters, bid is optional")],
        files: Annotated[Optional[Union[StrictBytes, StrictStr, Tuple[StrictStr, StrictBytes]]], Field(description="Attach relevant media here, which includes, jpg, mp3, pdf, mp4 files. More than one media can be selected")] = None,
        _request_timeout: Union[
            None,
            Annotated[StrictFloat, Field(gt=0)],
            Tuple[
                Annotated[StrictFloat, Field(gt=0)],
                Annotated[StrictFloat, Field(gt=0)]
            ]
        ] = None,
        _request_auth: Optional[Dict[StrictStr, Any]] = None,
        _content_type: Optional[StrictStr] = None,
        _headers: Optional[Dict[StrictStr, Any]] = None,
        _host_index: Annotated[StrictInt, Field(ge=0, le=0)] = 0,
    ) -> RESTResponseType:
        """Create Event (Post Content)

        Posts into the given floor_id. This is asynchronous ingestion. 200 OK means queued, not immediately retrievable. This API allows a user to **post personal content into their POD (Personal Object Database)**. The posted content is stored under a specified **floor**, embedded by the platform, and made available for **semantic querying, conversational retrieval, and memory-based interactions**. It is primarily used to:
        * Save reminders, notes, writeups, or personal knowledge
        * Upload content that the user wants the system to remember * Add information that should later be discoverable via conversational queries The content may consist of **text only** or **text combined with one or more media files**.
        
        ---
        
        ### **Key Capabilities**
        * Stores user-generated content inside a specific floor
        * Supports **multi-modal inputs** (text + media) * Automatically embeds content for semantic search * Makes content available to:
        * `/agent/memory/query`
        * conversational agents
        * future recall and analytics
        * Associates content with user, block, and application context
        
        ---
        
        ### **Authentication**
        * Requires a valid, authenticated `user_id`
        * The calling application is responsible for user authentication * `app_id` identifies the application context
        
        ---
        
        ### **Request Type**
        
         **Content-Type:** `multipart/form-data`
        
        ---
        
        ### **Request Parameters**
        
        ### **1. Files (Optional)**
        
        | Field | Type | Required | Description |
        | ------- | ------ | -------- | --------------------------------------------------------------------- |
        | `files` | file[] | Optional | Media files to attach to the content. Multiple files may be uploaded. |
        
        **Supported formats include (but are not limited to):**
        * Images: `jpg`, `png`
        * Audio: `mp3` * Documents: `pdf` * Video: `mp4` These files are processed and embedded along with the textual content where applicable.
        
        ---
        
        ### **2. Input Information (Required)**
        
        | Field | Type | Required | Description |
        | ------------ | ------------- | -------- | ----------------------------------------------------------------- |
        | `input_info` | string (JSON) | Yes | JSON string containing metadata and textual content for the post. |
        
        ---
        
        ### **`input_info` Structure**
        
        ```json { \"floor_id\": \"my_floor\", \"BID\": \"17845683456\", \"user_id\": \"145623907625\", \"title\": \"My floor\", \"description\": \"My floor details\", \"app_id\": \"165434879028\" }
        
        ```
        
        ---
        
        ### **Field Descriptions**
        
        | Field | Type | Required | Description |
        | ------------- | ------ | -------- | ---------------------------------------------------------------------------------- |
        | `floor_id` | string | Yes | Identifier of the user’s floor (POD) where the content will be stored. |
        | `block_type` | string | Yes | Type of block under which the content is categorized (e.g., post, note, reminder). |
        | `BID` | string | Yes | Block identifier associated with this content. |
        | `user_id` | string | Yes | Unique identifier of the user posting the content. |
        | `title` | string | Optional | Title or short heading for the content. |
        | `description` | string | Yes | Main textual content to be stored and embedded. |
        | `app_id` | string | Optional | Identifier of the calling application. |
        
        ---
        
        ### **Behavior**
        1. The API validates the user and floor context.
        2. Textual content (`title` and `description`) is ingested. 3. Attached media files are processed and linked to the content. 4. Embeddings are generated for:
        * Text
        * Supported media (where applicable) 5. The content becomes part of the user’s **personal memory store**. 6. The stored data is immediately available for querying and conversational retrieval.
        
        ---
        
        ### **Successful Response**
        
        On success, the API confirms that:
        * The content has been stored
        * Embeddings have been generated * The memory item is available for future queries A success status and reference identifiers are returned.
        
        ---
        
        ### **Error Handling**
        
         The API may return errors if:
        * Required fields are missing (`floor_id`, `user_id`, `description`)
        * Unsupported file formats are uploaded * The user does not have access to the specified floor * The request payload is malformed * Internal embedding or storage operations fail
        
        ---
        
        ### **Typical Use Cases**
        * Saving personal reminders
        * Posting notes or observations * Uploading documents for future reference * Creating a personal knowledge base * Feeding data into conversational agents
        
        ---
        
        ### **One-Line Summary**
        
        > Stores user-generated text and media into a personal POD, embeds it for semantic search, and makes it available for conversational querying. ⚠️ Content Ingestion is Asynchronous The Create Event API queues content for processing. A successful response indicates **acceptance**, not availability. Newly ingested content may take time to become searchable via the Query API.

        :param input_info: Input parameters, bid is optional (required)
        :type input_info: str
        :param files: Attach relevant media here, which includes, jpg, mp3, pdf, mp4 files. More than one media can be selected
        :type files: bytearray
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :type _request_timeout: int, tuple(int, int), optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the
                              authentication in the spec for a single request.
        :type _request_auth: dict, optional
        :param _content_type: force content-type for the request.
        :type _content_type: str, Optional
        :param _headers: set to override the headers for a single
                         request; this effectively ignores the headers
                         in the spec for a single request.
        :type _headers: dict, optional
        :param _host_index: set to override the host_index for a single
                            request; this effectively ignores the host_index
                            in the spec for a single request.
        :type _host_index: int, optional
        :return: Returns the result object.
        """ # noqa: E501

        _param = self._event_serialize(
            input_info=input_info,
            files=files,
            _request_auth=_request_auth,
            _content_type=_content_type,
            _headers=_headers,
            _host_index=_host_index
        )

        _response_types_map: Dict[str, Optional[str]] = {
            '200': "EventResponse",
            '400': "Event400Response",
        }
        response_data = self.api_client.call_api(
            *_param,
            _request_timeout=_request_timeout
        )
        return response_data.response


    def _event_serialize(
        self,
        input_info,
        files,
        _request_auth,
        _content_type,
        _headers,
        _host_index,
    ) -> RequestSerialized:

        _host = None

        _collection_formats: Dict[str, str] = {
        }

        _path_params: Dict[str, str] = {}
        _query_params: List[Tuple[str, str]] = []
        _header_params: Dict[str, Optional[str]] = _headers or {}
        _form_params: List[Tuple[str, str]] = []
        _files: Dict[
            str, Union[str, bytes, List[str], List[bytes], List[Tuple[str, bytes]]]
        ] = {}
        _body_params: Optional[bytes] = None

        # process the path parameters
        # process the query parameters
        # process the header parameters
        # process the form parameters
        if files is not None:
            _files['files'] = files
        if input_info is not None:
            _form_params.append(('input_info', input_info))
        # process the body parameter


        # set the HTTP header `Accept`
        if 'Accept' not in _header_params:
            _header_params['Accept'] = self.api_client.select_header_accept(
                [
                    'application/json'
                ]
            )

        # set the HTTP header `Content-Type`
        if _content_type:
            _header_params['Content-Type'] = _content_type
        else:
            _default_content_type = (
                self.api_client.select_header_content_type(
                    [
                        'multipart/form-data'
                    ]
                )
            )
            if _default_content_type is not None:
                _header_params['Content-Type'] = _default_content_type

        # authentication setting
        _auth_settings: List[str] = [
            'bearer'
        ]

        return self.api_client.param_serialize(
            method='POST',
            resource_path='/api/memory/events',
            path_params=_path_params,
            query_params=_query_params,
            header_params=_header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            auth_settings=_auth_settings,
            collection_formats=_collection_formats,
            _host=_host,
            _request_auth=_request_auth
        )


